@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #121212;
  color: #e0e0e0;
}

/* Forzamos la transición de colores suave en toda la app */
body {
  @apply transition-colors duration-300 ease-in-out;
}

/* Ocultar flechas en inputs numéricos (Chrome, Safari, Edge, Opera) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar flechas en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}